<div class="p-5">
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">LeetCode 地址提交</h1>
    </div>
    <div class="copyright text-center my-auto">
        <span>用户LeetCode或LeetCode-cn主页地址，参考格式： https://leetcode.com/alexlj/</span>
    </div>

    <form class="user" id="user-login">
        <div class="form-group">
            <input type="text" class="form-control form-control-user"
                   placeholder="主页链接" ng-model="url">
        </div>
        <button class="btn btn-primary btn-user btn-block" ng-click="submitUrl()">
            提交
        </button>
        <hr>

    </form>

</div>
